<small class="error" ng-message="required">This item cannot be blank.</small>
<small class="error" ng-message="minlength">You have not met this item's minimum length.</small>
<small class="error" ng-message="maxlength">You have exceeded this item's maximum length.</small>
<small class="error" ng-message="min">The number you  have entered is too small.</small>
<small class="error" ng-message="max">The number you  have entered is too big.</small>
<small class="error" ng-message="email">You have entered an invalid email address.</small>
<small class="error" ng-message="passwordCharacters">Your password must contain a numeric, uppercase and lowercase as well as special characters.</small>